body{
	background-color: #201f1d;
}
.container{
	text-align: center;
}
h1{
	color: #E8F0F2;
	font-weight: bold;
	margin: 20px;
	text-shadow: 0px 4px 4px #de8d47;
}
input{
	width: 50%;
	padding: 15px;
	background-color: #dcdcdc;
	margin: 15px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	border-bottom:5px solid #DE8D47;
}
input:hover{
	color: white;
	background-color: #de8d47;
	border-radius: 25px;
}

@media only screen and (max-width: 768px)
{
	h1{
		font-size: 20px;
	}
	input{
		width: 80%;
		font-size: 16px;
		padding: 10px;
	}
}