*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
	background-color: #201f1d;
}
h1{
	color: #E8F0F2;
	font-weight: bold;
	margin: 20px;
	text-shadow: 0px 4px 4px #de8d47;
}
h2{
	color: white;
	margin: 30px;
}
#main{
	text-align: center;
}
button{
	width: 50%;
	padding: 15px;
	margin: 10px;
	border-radius: 25px;
	font-size: 20px;
	font-weight: bold;
	border-bottom:5px solid #de8d47;
}
button:hover{
	color: white;
	background-color: #de8d47;
	border-radius: 25px;
	outline: none;
}
#main a{
	width: 50%;
	text-decoration: none;
	background-color:#dcdcdc;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	padding: 15px; 
	color: black;
	border-bottom:5px solid #de8d47;
	position: relative;
	top:50px;
}
button:hover,#main a:hover{
	color: white;
	background-color: #de8d47;
}
footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	height: 100px;
	color: #de8d47;
    text-align: center;
}
footer p{
	font-weight: bold;
}
#icons a{
	border-radius: 50%;
	border:none;
	color: #de8d47;
}

@media only screen and (max-width: 768px)
{
	h2{
		font-size: 20px;
		margin: 10px;
	}
	button{
		width:80%;
		padding: 10px;
		font-size: 16px;
	}
	footer{
		position: relative;
	}
}
